.app-header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    color: var(--white);
    background-image: var(--gradient-one);
}
