.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    color: var(--white);
    background-image: var(--gradient-one);
    nav {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .brand {
        display: flex;
        align-items: center;
        img {
            width: 3rem;
            margin-right: 1rem;
        }
        span {
            font-size: 2.4rem;
        }
    }
    .main-navigation {
        display: flex;
        li {
            a {
                display: block;
                padding: 1.6rem 2rem;
                transition: background 0.3s;
                &:hover,
                &:focus {
                    background: var(--tertiary);
                }
                &.active {
                    font-weight: var(--font-bold);
                    color: var(--quaternary);
                    background: var(--secondary);
                }
            }
        }
    }
    .theme-btn {
        appearance: none;
        background: transparent;
        border: none;
        border-radius: 0;
        display: block;
        padding: 1.6rem 2rem;
        cursor: pointer;
        outline: none;
        &:hover,
        &:focus {
            background: var(--tertiary);
        }
        svg {
            display: block;
            &:last-child {
                display: none;
            }
        }
        &.is-dark {
            svg {
                display: none;
                &:first-child {
                    display: none;
                }
                &:last-child {
                    display: block;
                }
            }
        }
    }
}
