.story {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1.5rem;
    background: var(--bg-col-secondary);
    header {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .position {
        flex-shrink: 0;
        display: grid;
        place-items: center;
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 1rem;
        margin-bottom: 0.5em;
        color: var(--white);
        background: var(--black);
    }
    .favorite {
        flex-shrink: 0;
        margin-top: 0.5rem;
        svg {
            width: 2rem;
            height: 2rem;
            path {
                fill: var(--quaternary);
                transition: fill 0.3s;
            }
        }
        &:hover,
        &:focus {
            svg {
                path {
                    fill: var(--tertiary);
                }
            }
        }
    }
    .title {
        width: 100%;
    }
    .meta {
        font-size: 1.6rem;
    }
    .source {
        flex-grow: 1;
        margin: 1rem 0;
    }
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 1.5rem;
    }
    .comments-cta {
        svg {
            margin: -2px 0.25rem 0;
            vertical-align: middle;
            transition: transform 0.3s;
            path {
                fill: currentColor;
            }
        }
        &:hover {
            color: var(--hover-color);
            svg {
                transform: translateX(0.5rem);
            }
        }
    }
    .points {
        margin-left: 1.5rem;
    }
}
