.theme-btn {
    appearance: none;
    background: transparent;
    border: none;
    border-radius: 0;
    display: block;
    padding: 1.6rem 1rem;
    cursor: pointer;
    outline: none;
    &:hover,
    &:focus {
        background: var(--tertiary);
    }
    svg {
        display: block;
        &:last-child {
            display: none;
        }
    }
    &.is-dark {
        svg {
            display: none;
            &:first-child {
                display: none;
            }
            &:last-child {
                display: block;
            }
        }
    }
}

@media (min-width: 480px) {
    .theme-btn {
        padding: 1.6rem 2rem;
    }
}
