:root {
    font-size: 62.5%;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    &.is-dark {
        --text-col: ghostwhite;
        --bg-col: #222;
        --bg-col-secondary: #333;
    }

    color: var(--text-col);
    background-color: var(--bg-col);
    font-family: var(--main-font);
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    font-weight: var(--font-normal);
}

main {
    margin: 3rem 0;
}

button {
    cursor: pointer;
}

svg {
    display: block;
}
