//LAYOUT
.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

// TEXT
.gradient-text {
    display: inline-block;
    background-clip: text;
    color: transparent;
    background-image: var(--gradient-one);
}
