:root {
    // Colors
    --white: #fff;
    --black: #111;
    --text-col: #111;
    --bg-col: ghostwhite;
    --bg-col-secondary: #fff;
    --primary: #007bff;
    --secondary: #ffca22;
    --tertiary: #4cc3ff;
    --quaternary: #a453fe;
    --gradient-one: linear-gradient(
        to right,
        #ff6a5a,
        #ff348b,
        #ff23bf,
        #e23cd8,
        #bc50ee,
        #8861ff,
        #7269ff,
        #5a70ff,
        #3d76ff,
        #007bff
    );

    // Fonts
    --main-font: 'Gemunu Libre', sans-serif;
    --base-font-size: 1.8rem;
    --base-line-height: 2.4rem;
    --font-normal: 300;
    --font-bold: 700;
}
