:root {
    --text-col: #222;
    --bg-col: ghostwhite;
    --primary: #007bff;

    --main-font: Inter, Avenir, Helvetica, Arial, sans-serif;
    --base-font-size: 1.6rem;
    --base-line-height: 2.4rem;
    --font-normal: 400;
    --font-bold: 700;
}
